@font-face {
    font-family: 'Segoe';
    src: url('../fonts/4735dd9ca25670c44600021e7428b8d3.eot'); /* IE9*/
    src: url('../fonts/4735dd9ca25670c44600021e7428b8d3.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/4735dd9ca25670c44600021e7428b8d3.woff2')
            format('woff2'),
        /* chrome、firefox */
            url('../fonts/4735dd9ca25670c44600021e7428b8d3.woff') format('woff'),
        /* chrome、firefox */
            url('../fonts/4735dd9ca25670c44600021e7428b8d3.ttf')
            format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('../fonts/4735dd9ca25670c44600021e7428b8d3.svg#Segoe')
            format('svg'); /* iOS 4.1- */
}
